fastapi==0.103.1
uvicorn==0.23.2
sqlalchemy==2.0.21
alembic==1.12.0
pydantic==2.3.0
# mysqlclient==2.2.0
pymysql==1.1.0
oauthlib==3.2.2
PyJWT==2.8.0
python-multipart==0.0.6
# any other dependencies we need
